* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2 {
    color: #1db299;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 50px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 15px;
    font-size: 14px;
}
input::placeholder {
    color: #1db299; 
    font-size: 18px;
    font-weight: 600;
    opacity: 1;  
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #1db299;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

.delete-all{
    display: block;
    margin: 0 auto;
    text-align: center;
}

ul li {
    color: #1db299;
    list-style: none;
    font-size: 17px;
    padding: 10px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #1db299;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background: #ebeef0;
}